
.top_banner_title {
    font-family: 'Black Han Sans', sans-serif;
    color: black;
    font-size: 50px;
}


.whole_post_page {
    width: 1000px;
    margin: auto;
    padding: 30px;

}

.page {
    background-image: url("/static/main_background.jpg");
    background-size: cover;
    background-position: center;
}

.article {
    width: 900px;
    margin: 20px auto;
    padding: 50px;
    background: white;
    border: solid;
    border-radius: 20px;

}

.article_info {
    background: beige;

    height: 30px;
    text-align: center;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.article_author {
    float: left;
    width: 30%;
}

.article_data {
    margin-left: 30px;
    float: left;
    width: 30%;
}

.article_hit {
    float: right;
    width: 30%;
}

.article-title {
    text-align: center;
    width: 100%;
    height: 50px;
    border: 10px;
    word-break:break-all;
}

.article-content {
    margin-top: 20px;
    width: 800px;
    min-height: 500px;
    word-break:break-all;
}

.reply-data {
    font-family: 'Jua', sans-serif;
}

.Like-Unlike {
    margin-top: 50px;
    height: 100px;
}

.LikeButton-image {
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.UnlikeButton-image {
    width: 88px;
    border-radius: 50%;
    cursor: pointer;
}

.reply-list {
    margin-top: 100px;
}

.LikeButton-border {
    padding: 0;
    background: none;
    border: none;
}

.UnlikeButton-border {

    background: none;
    border: none;
}

.title-font {
    font-size: 20px;
}

.delete-edit-div {
    text-align: center;
    height: 50px;
    display: block;
}

.delete-edit {
    padding-top: 10px;

}

.edit-button {
    margin-right: 30px;
}

.delete-button-text {
    color: black;
}

.Like-Unlike-div {
    text-align: center;
}

.Like-div {
    width: 250px;
    margin: 10px auto;
}

.Like {
    float: left;
    width: 35%;
    text-align: center;
}

.Unlike {
    float: right;
    width: 40%;
    text-align: center;
}

.post_title_div {
    text-align: center;
}

.post_title {
    font-size: 70px;
    color: white;
}

.reply-userid-div {
    float: left;
    width: 50%;
}

.reply-userid {
    font-size: 17px;
}

.reply-comment-date {
    color: gainsboro;
    font-size: 12px;
}

.reply-delete-div {
    float: right;
}

.reply-delete-font {
    font-size: 10px;
}