<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- kakaotalk meta tag -->
    <meta property="og:url" content="http://starandnight.shop">
    <meta property="og:image" content="https://user-images.githubusercontent.com/84619866/133743855-03d1d3cd-b89c-409a-92fe-9aeb455c75a5.png">
    <meta property="og:description" content="너의 고민, 우리가 재판해주지!">
    <meta property="og:type" content="website">
    <meta property="og:title" content="재판하는 존경장님">

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">

    <!-- JS -->
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>

    <!-- 구글폰트 -->
    <link
            href="https://fonts.googleapis.com/css?family=Hahmlet:wght@900&Stylish&display=swap"
            rel="stylesheet"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"
    />

    <title>재판하는 존경장님</title>

</head>

<body>
<div class="background">
    <div class="sign">
        <div class="logo">
            <img src="../static/title_white.png">
        </div>

        <button onclick="window.location.replace('/login_main')" type="button"
                class="btn btn-secondary loginBtn">로그인
        </button>

        <div class="username">어서오세요, {{ id }} 존경장님
            <div class="navBtns">
                <button class="logoutBtn btn btn-outline-light" type="button"
                        onclick="window.location.href = '/mypage'">
                    마이페이지
                </button>
                <button class="logoutBtn btn btn-outline-light" type="button" onclick="logout()">로그아웃</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="title">재판실</div>
        <div class="buttons">
            <button
                    type="button"
                    class="btn btn-light btn-lg btn-block"
                    id="getJudge"
                    style="border: 1px solid black"
            >
                재판받기💦
            </button>
            <button
                    type="button"
                    class="btn btn-dark btn-lg btn-block"
                    id="doJudge"
                    style="margin-top: 0px"
            >
                재판하기⚖️
            </button>
        </div>
        <!-- 재판하기 리스트 출력 -->
        <div class="list-all">
            <div class="newList">
                <!-- <h3>재판 중</h3> -->
                <ul class="list-group">
                    <div id="pagination"></div>
                    <div id="demo"></div>
                </ul>
            </div>
            <div class="bests">
                <div class="todayList">
                    <button
                            type="button"
                            class="btn btn-light btn btn-block"
                            style="border: 1px solid black; cursor: default"
                    >
                        오늘의 TOP3💢
                    </button>
                    <ul class="list-group" id="todayJudge">

                    </ul>
                </div>
                <div class="weeklyList">
                    <button
                            type="button"
                            class="btn btn-primary btn btn-block"
                            style="margin-top: 0px; border: 1px solid black; cursor: default"
                    >
                        이번 주 TOP3💥
                    </button>
                    <ul class="list-group" id="weeklyJudge">

                    </ul>

                </div>
            </div>

        </div>
        <!-- 재판받기 리스트 출력 -->
        <div class="post-container">
            <div class="inputs">
                <input class="input-title" placeholder="제목을 입력해주세요" maxlength='50' ; type="text"/>
                <textarea
                        maxlength="3000"
                        class="input-content"
                        placeholder="고민 내용을 입력해주세요"
                ></textarea>
            </div>
            <button type="button" class="onclickJudgeBtn btn btn-secondary btn-lg" onclick="post()">재판 접수</button>
        </div>
    </div>
</div>
<script>
    let postList = null;
    const userId = '{{ id }}';
    const date = new Date().getDate().toString();
    const month = () => {
        let getMonth = (new Date().getMonth() + 1).toString();
        if (getMonth < 10) {
            getMonth = 0 + getMonth;
        }
        return getMonth;
    }
    const year = new Date().getFullYear().toString()
    let weekStartDate;
    let weekEndDate;

    //로그인 했을 경우
    if (userId) {
        $('.loginBtn').hide()
        $('.username').css('display', 'flex');
        $('.logoutBtn').css('display', 'flex');
    }

    // 로그아웃
    function logout() {
        $.removeCookie('mytoken', {path: '/'});
        window.location.href = "/"
    }

    //재판하기
    $("#doJudge").click(function () {
        $(".list-all").show();
        $(".post-container").hide();
    });

    // 재판접수
    function post() {
        if (!userId) {
            alert("로그인이 필요합니다!")
            return;
        }
        let title = $(".input-title").val()
        let comment = $(".input-content").val()

        if (!title.trim()) {
            alert('제목을 입력해주세요!')
            return;
        }
        if (!comment.trim()) {
            alert('내용을 입력해주세요!')
            return;
        }

        $.ajax({
            type: "POST",
            url: "/post",
            data: {
                title: title,
                content: comment,
                image: ''
            },
            success: function (response) {
                window.location.reload()
            }
        })
    }

    // 재판받기
    $("#getJudge").click(function () {
        if (!userId) {
            alert("재판을 받기전에 로그인을 해주세요!")
            return;
        }
        $(".list-all").hide();
        $(".post-container").show();
    });


    // 날짜 데이터 변환
    function formatMonth(date) {
        const mymonth = date.getMonth() + 1;
        return mymonth;
    }

    function formatDate(date) {
        const myweekday = date.getDate();
        return myweekday;
    }


    // 글 목록 받아오기
    function getPosts() {
        {#$("#post-box").empty()#}
        $.ajax({
            type: "GET",
            url: `/posts`,
            async: false,
            data: {},
            success: function (response) {
                postList = response['posts'];
                {#alert('읽기끝')#}
                printPosts();
            }
        })

    }

    //최신목록 출력
    function printPosts() {
        $("#demo").pagination({
            pageSize: "7",
            dataSource: postList.reverse(),
            callback: function (data, pagination) {
                let allListData = ``;
                if ($("#pagination").length) {
                    $("#pagination").text('');
                }
                for (let i = 0; i < data.length; i++) {
                    (function (data) {
                        allListData =
                            $(`<div class="clickPost">
                                            <li
                                              class="
                                                list-group-item
                                                d-flex
                                                justify-content-between
                                                align-items-center
                                              "
                                            >` +
                                ` <p id="allListText">${data["title"]}</p>` +
                                `<span class="badge badge-primary badge-pill">${data["like"]}</span>
                                        </li>
                                </div>`);

                        allListData.unbind("click")
                        allListData.bind("click", function () {
                            onClickPost(data['_id'])
                        })

                        $("#pagination").append(allListData);
                        allListData = '';
                    })(data[i])

                }

            },
        });

        // 오늘의 top3
        const todayPosts = postList.filter(v => v.postDate.split(' ', 1)[0].split('-')[2] === date && v.postDate.split(' ', 1)[0].split('-')[1] === month() && v.postDate.split(' ', 1)[0].split('-')[0] === year);
        todayPosts.sort((a, b) => b.like - a.like)
        let todayData = '';

        for (let i = 0; i < todayPosts.length; i++) {
            if (i > 2) break;
            (function (data) {
                var dataHtml = '';
                dataHtml =
                    $(`<div class="clickPost">
                                    <li
                                      class="
                                        list-group-item
                                        d-flex
                                        justify-content-between
                                        align-items-center
                                      "
                                    >` +
                        ` <p id="allListText">${data["title"]}</p>` +
                        `<span class="badge badge-primary badge-pill">${data["like"]}</span>
                                </li>
                        </div>`);

                dataHtml.unbind("click")
                dataHtml.bind("click", function () {
                    onClickPost(data['_id'])
                })

                $("#todayJudge").append(dataHtml);
                dataHtml = '';
            })(todayPosts[i])
        }


        // 이번 주 날짜 구하기
        let weekStartDay = 0;
        let weekLastDay = 0;

        function printWeek() {
            const now = new Date();
            const nowDayOfWeek = now.getDay();
            const nowDay = 1;
            const nowMonth = now.getMonth();
            let nowYear = now.getYear();
            nowYear += (nowYear < 2000) ? 1900 : 0;
            weekStartDate = new Date(nowYear, nowMonth, nowDay - nowDayOfWeek);
            weekEndDate = new Date(nowYear, nowMonth, nowDay + (6 - nowDayOfWeek));
            weekStartDay = formatDate(weekStartDate)
            weekLastDay = formatDate(weekEndDate)

        }

        printWeek()

        // 이번 주의 top3
        const weeklyPosts = postList.filter(v => {
            if (weekStartDay > weekLastDay) {
                if (v.postDate.split(' ', 1)[0].split('-')[2] > toString(weekStartDay)) {
                    return true;
                }
                if (v.postDate.split(' ', 1)[0].split('-')[2] < toString(weekLastDay)) {
                    return true;
                }
                return false;
            }
            if (toString(weekStartDay) < v.postDate.split(' ', 1)[0].split('-')[2] < toString(weekLastDay)) {
                return true;
            }
            return false;
        });
        weeklyPosts.sort((a, b) => b.like - a.like)

        for (let i = 0; i < weeklyPosts.length; i++) {
            if (i > 2) break;
            (function (data) {
                var dataHtml = '';
                dataHtml =
                    $(`<div class="clickPost">
                                    <li
                                      class="
                                        list-group-item
                                        d-flex
                                        justify-content-between
                                        align-items-center
                                      "
                                    >` +
                        ` <p id="allListText">${data["title"]}</p>` +
                        `<span class="badge badge-primary badge-pill">${data["like"]}</span>
                                </li>
                        </div>`);

                dataHtml.unbind("click")
                dataHtml.bind("click", function () {
                    onClickPost(data['_id'])
                })

                $("#weeklyJudge").append(dataHtml);
                dataHtml = '';
            })(weeklyPosts[i])
        }
    }


    // 조회수 늘리기
    function onClickPost(id) {

        $.ajax({
            type: 'POST',
            url: '/view',
            async: false,
            data:
                {
                    post_id: id
                },
            success: function (response) {
                window.location.href = `/post?post_id=${id}`
            }
        })
    }

    getPosts();


</script>
</body>
</html>
